/* 右鍵選單 */
div.context-menu {
    position: absolute;
}

div.context-menu ul {
    margin: 0;
    padding: 0;
}
div.context-menu {
    width: 60px;
    height: 30px;
    background-color: #fff;
    // border:2px solid #a4a4a4;
    display: none;
    box-shadow: 0 12px 15px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
}
div.context-menu ul li {
    min-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    // padding: 12px 15px;
    height: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ecf0f1;

    &:first-child {
        border-radius: 5px 5px 0 0;
    }
    &:last-child {
        border-radius: 0 0 5px 5px;
    }
}
// div.context-menu > ul > li:last-child {
//  border-top:2px solid #bcbaba;
//  padding:5px 0;
// }
div.context-menu ul li a {
    text-decoration: none;
    color: #8e8e8e;
    text-align: left;
    line-height: 30px;
    padding: 0 20px;
    height: 100%;
    display: block;
    font-family: "Lato";
    font-weight: bold;
    font-size: 0.85rem;
}
div.context-menu ul li:hover a {
    background-color: #ecf0f1;
}
