* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************************/
/* btn */
/********************************/
.btn.btn-outline-success.btn-custom-green {
  color: #5c940d;
  border-color: #5c940d;

  &:hover {
    color: #fff;
    background-color: #5c940d;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(92, 148, 13, 0.5);
  }
}

/********************************/
/* nav-link */
/********************************/

@mixin navStyle($color) {
  color: $color;
  font-size: 1.5rem;
  font-weight: 600;
}

$nav-font-size: 1.5rem;
.btn-custom-green .predeposit-usage-details-user {
  margin-bottom: 0;
}

.nav-link-custom-orange {
  // color: #f76707;
  // font-size: $nav-font-size;
  @include navStyle(#f76707);
}

.nav-link.active.nav-link-custom-orange {
  background: #f76707;
}

.nav-link-custom-green {
  // color: #5c940d;
  // font-size: $nav-font-size;
  @include navStyle(#5c940d);
}

.nav-link.active.nav-link-custom-green {
  background: #5c940d;
}

.nav-link.nav-link-custom {
  @include navStyle(#0d6efd);
}

.predeposit-usage-details-user {
  margin-bottom: 0;
}

/********************************/
/* header */
/********************************/

.pre-deposit-usage-details-header {
  h1 {
    margin-bottom: 0.2rem;
  }
}

/********************************/
/* table */
/********************************/

.table-container {
  padding: 0 10%;
  margin: 40px auto;
}

.table-container-h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  color: #555;
}

.predepositUserTable,
.predepositUserTable-web {
  width: 100%;
  border-collapse: collapse;
}

.predepositUserTable thead,
.predepositUserTable-web thead {
  background-color: #094db1;
  color: #fff;
}
.predepositUserTable-web th,
.predepositUserTable-web td,
.predepositUserTable th,
.predepositUserTable td {
  padding: 0.8rem;
  font-size: 1.4rem;
  text-align: center;
}

.predepositUserTable tbody tr {
  color: #555;
  border: 1px solid #dee2e6;
  // border-bottom: 1px solid #dee2e6;

  th:first-child {
    border-right: 1px solid #dee2e6;
  }
  td {
    border-right: 1px solid #dee2e6;
  }

  &:nth-child(even) {
    background-color: #eee;
  }
}

.predepositUserTable-web tbody tr {
  color: #555;
  border: 1px solid #dee2e6;
  // border-bottom: 1px solid #dee2e6;

  th:first-child {
    border-right: 1px solid #dee2e6;
  }
  td {
    border-right: 1px solid #dee2e6;
  }
}
// btnGroup 調整
.btn-group-margin-right-minus-one {
  margin-right: -1px;
}

.predepositUserTable-btngroup {
  display: flex;
  gap: 0.5rem;
}

.predepositUserTable-web tbody:nth-child(odd) {
  background-color: #eee;
}

@media (max-width: 48em) {
  .predepositUserTable-web {
    display: table !important;
  }
}

@media (max-width: 36em) {
  .table-container-h1 {
    font-size: 1.1rem;
  }
  .predeposit-usage-details-user {
    font-size: 0.8rem;
  }
  .nav-link-custom-orange,
  .nav-link-custom-green,
  .nav-link.nav-link-custom {
    font-size: 1rem;
  }
}
