/*
color 主色調:#094db1

;

firstTabe hover color:#225fb9

點開 active #3a71c1 (-20%)

hover #6b94d0 (-40%)

second-header table 標頭 #225fb9 (10%)
second-header table 標頭 #5382c8 (30%)

solid #9ec5fe

listtable
#5382c8

hover #9db8e0 (-60%)
*/

//客戶繳費期間等級區分
/*********************/
/* 顏色區分

//未發通知單

// #dc3545

//尚未通知，尚未繳費

// #dc3545 =>轉為第二嚴重 修改顏色 #faa2c1 20220617


//已通知，尚未繳費
第一次通知
#fea55b

第二次通知
#fd7e14

// 停止服務
#ced4da

//合約順利進行的客戶

#198754

*/
/***************************/


/********************************/
/*導覽與頁籤 (Navs and tabs)*/
/**********************************/

// .nav-pills .nav-link.nav-delinquent-customers.active {
//     background-color: #dc3545;
// }

/**********************************/
/*    動畫參數                    */
/**********************************/

@mixin transitionData($sec, $bezier) {
    transition: all $sec $bezier;
}


/**********************************/
/*表單*/
/***********************************/

.content-table {
    // margin: 0 auto !important;

    // margin: 0 auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    min-width: 800px;
    border-radius: 5px 5px 0 0;

    width: 100%;
    // overflow: hidden;
    //彈出視窗在使用  position: absolute; 一樣會被遮蓋掉
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;

}

// 主標單標頭
.content-table thead tr {
    background-color: #094db1;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th{
    text-align: center;
}


.content-table th,
.content-table td {
    padding: 12px 10px;
    vertical-align: middle;
}

.content-table td{
    padding: 10px ;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(4n+3) {
    background-color: #f3f3f3;
}



.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #86b7fe;
}

.content_table_tbody_tr>td {
    vertical-align: middle;
}

.content-table tbody .content_table_tbody_tr:hover {
    background-color: #6b94d0;
    color: #fff;
}

// 點擊下拉主選單顯示
.content-table tbody .content_table_tbody_tr.active_row {
    background-color: #3a71c1;
    color: #fff;


    //選轉標註圖示
    .list_table_toggle_btn {
        transform: rotate(180deg);
        @include transitionData(0.2s, ease-out)
    }
}

.content-table span {
    display: block;
}

.recharge-status-td{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

// 繳費提醒

//原型

@mixin payment-reminder($property) {
    text-align: center;
    border-left: 4px solid $property;
}

// .payment-reminder-red,
// .payment-reminder-orange1,
// .payment-reminder-orange2,
// .payment-reminder-orange3,
// .payment-reminder-green {
//     text-align: center;

// }

.payment-reminder-red {
    // border-left: 4px solid rgba(220, 53, 69, 0.7);

    @include payment-reminder(rgba(220, 53, 69, 0.7))
}

.payment-reminder-red2 {
   

    @include payment-reminder(rgba(240, 101, 149,0.7))
}

.payment-reminder-orange1 {
    // border-left: 4px solid rgba(254, 164, 91, 0.7);

    @include payment-reminder(rgba(254, 164, 91, 0.7));
}

.payment-reminder-orange2 {
    // border-left: 4px solid rgba(253, 126, 20, 0.7);

    @include payment-reminder(rgba(253, 126, 20, 0.7));
}

.payment-reminder-orange3 {
    // border-left: 4px solid rgba(177, 87, 14, 0.7);

    @include payment-reminder(rgba(177, 87, 14, 0.7));
}

.payment-reminder-green {
    // border-left: 4px solid rgba(25, 135, 84, 0.7);

    @include payment-reminder(rgba(25, 135, 84, 0.7))
}



/******************/
/* 按鈕 */
/******************/

// .btn-min {
//     min-width: 112px;
// }

.btn-w112 {
    width: 112px;
}

.input-date {
    padding: 6px 10px;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    stroke: #0d6efd;
}

.btn-danger.btn-red2 {
    color: #333;
    background-color: #faa2c1;
    border-color: #faa2c1;

    &:active,
    &:hover {
        //深20%
        background-color: #f06595;
        border-color: #f06595;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(255, 168, 168,0.7);
    }
}

.btn-warning.btn-orange1 {
    color: #333;
    background-color: #fea55b;
    border-color: #fea55b;

    &:active,
    &:hover {
        //深20%
        background-color: #fd8b2c;
        border-color: #fd8b2c;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(253, 138, 44, 0.5);
    }
}

.btn-warning.btn-orange2 {
    color: #555;
    background-color: #fd7e14;
    border-color: #fd7e14;

    &:active,
    &:hover {
        //深20%
        background-color: #ca6510;
        border-color: #ca6510;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(253, 125, 20, 0.5)
    }
}

.btn-warning.btn-orange3 {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;

    &:active,
    &:hover {
        background-color: #343a40;
        border-color: #343a40;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(206, 212, 218,0.5);
    }
}


/*客戶增加服務按鈕*/
.table-btn-group {
    display: flex;
    gap: 0.6rem;
}

.list_table_toggle_icon {
    font-size: 1.5rem;
}

.customer-service-added-btn {
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #40c057;
    color: #dee2e6;
    // font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0;

    &:hover {
        background-color: #2b8a3e;
        color: white;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(67, 215, 96, 0.2);
    }
}


/*******************/
//下拉標註
/*******************/


.list_table_toggle_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 0;
    outline: 0;
    background-color: transparent;

    @include transitionData(0.2s, ease-out);

    &:hover {
        color: #ffffff;
    }
}


/******************/
/* 下拉選單 */
/******************/


.list_table_dropdown {
    position: relative;
}

.list_table_dropdown_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    background-color: transparent;

    &:hover {
        color: #ffffff;
    }

}

.list_table_dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    top: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.list_table_dropdown_content a {
    float: none;
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.2s ease;

    &:hover {
        background-color: #ddd;
    }
}

.list_table_dropdown:hover .list_table_dropdown_content {
    display: block;
}

//繳費提醒

// 次表單
//colspan 控制跨列程度

.list_table {
    border-top: 5px solid #b5cae8;
    background-color: #5382c8;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

//隱藏次表單
.td_list_table .panel_group {
    height: 0;
    overflow: hidden;
    @include transitionData(0.2s, ease-out);
}

//顯示隱藏表單
.td_list_table.List_table_active .panel_group {
    height: 100%;
    @include transitionData(0.2s, ease-out);
}



.td_list_table:hover {
    color: 333;
}


.content-table .td_list_table {
    // background-color: #5382c8;
    // display: none;
    padding: 0;

}



.list_table thead tr {
    background-color: #5382c8;
    text-align: center;

    th:first-child {
        width: 80px;
    }
}

.list_table tbody tr {
    background-color: #fff;

    //單行不同顏色
    &:nth-of-type(odd) {
        background-color: #f3f3f3;
    }


    // &:hover {
    //     // background-color: #9db8e0;
    // }

    &:last-child {
        border-top: 2px solid #868e96;
        border-bottom: 5px solid #c92a2a;
    }
}

.list_table tbody th,
.list_table tbody td {
    border-right: 1px solid #dee2e6;
}

.td_list_table_btn_group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


/******************/
/* modal部分 */
/******************/

.modal-title-purchaseItemHistoryLabel{
    font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  color: #555;
  font-size: 1.5rem;
}
// .purchase-history-table tbody{
//     border-bottom: none;
// }

.purchase-history-table tbody tr:last-child{
    border-bottom: 0;
}

