.input-date.input-closed-customize-date {
    border: 1px solid #dc3545;
    color: #dc3545;
    stroke: #dc3545;
}

.important-client-td {
    background-color: rgba(240, 101, 149, 0.7);
}

.less-important-customer-td {
    background-color: rgba(213, 163, 46, 0.7);
}
