.view-container-border {
    background-color: #000 !important;
}

.outerMain { border: 1px solid red; text-align: center; padding: 20px;.view-container-border {
    background-color: #000 !important;
} }

.innerIframe { border: 2px solid blue; width: 80%; margin: 0 auto; height: 290px; .view-container-border {
    background-color: #000 !important;
}}