.right_btn {
    position: relative;
    .other_btn_box {
        display: none;
        position: absolute;
        right: 0px;
        background-color: #fff;
        padding: 10px;
        width: 200px;
        margin-top: 10px;
        button {
            margin: 5px auto;
        }
    }
}

.map_field {
    display: flex;
    justify-content: space-between;
    input {
        width: 80%;
    }
    button {
        height: 38px;
    }
}

.email_field {
    display: flex;
    justify-content: space-between;
    input {
        width: 70%;
    }
    button {
        height: 38px;
    }
}

.bill_field {
    display: flex;
    .check_box {
        align-items: center;
        margin-top: 24px;
    }
}

.category_list {
    overflow-y: auto;
    max-height: 250px;
}

.situation_field {
    @include horizontal_align;
    margin-bottom: 10px;
    span {
        width: 96px;
    }
    input {
        width: 70%;
        margin: auto 10px;
    }
}

.browe {
    overflow-y: auto;
    max-height: 650px;
    table {
        border-collapse: collapse;
        width: 100%;
        thead {
            th {
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: #fff;
                box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                border: 0px;
            }
        }
        td {
            display: block;
            overflow: hidden;

            text-overflow: ellipsis;
            white-space: nowrap;
            width: 420px;
        }
    }
}

.search_box {
    overflow-y: auto;
    max-height: 580px;
    table {
        border-collapse: collapse;
        width: 100%;
        thead {
            th {
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: #fff;
                box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                border: 0px;
            }
        }
    }
    .search_link {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 350px;
    }
}

.switch_box {
    @include horizontal_align;
    select {
        width: 87%;
    }
    .turn_on {
        display: none;
    }
    .turn_on2 {
        display: none;
    }
}

.search_address {
    @include horizontal_align;
    input {
        width: 90%;
    }
}

.search_options {
    @include horizontal_align;
    input {
        width: 74%;
    }
}

.option_side {
    @include horizontal_align;
    select {
        width: 84%;
    }
}

.option_check {
    align-self: center;
}

.modal_switch {
    @include horizontal_align;
    select {
        width: 80%;
    }
    .turn_on3 {
        display: none;
    }
    .turn_on4,
    .turn_on6,
    .turn_on7 {
        display: none;
        width: 90%;
    }
    .turn_on5 {
        display: none;
        width: 72%;
    }
    .turn_on8 {
        display: none;
        width: 80%;
    }
}

.modal_field {
    @include horizontal_align;
    input {
        height: 38px;
        margin-left: 8px;
    }
}

.option_date {
    @include horizontal_align;
    .date_field {
        width: 74%;
    }
}

.employee_name {
    background-color: $mainColor;
    padding: 5px 30px;
}

.product_interview {
    overflow-y: auto;
    max-height: 340px;
    margin-bottom: 20px;
    table {
        border-collapse: collapse;
        width: 100%;
        thead {
            th {
                position: sticky;
                top: -1px;
                z-index: 1;
                background-color: #fff;
                box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                border: 0px;
            }
        }
    }
}

.interview_addbtn {
    position: relative;
}

.product_interview_add {
    background-color: $mainColor;
    padding: 15px 10px;
    position: absolute;
    top: 255px;
    width: 500px;
    display: none;
}

.appointment_content {
    display: none;
    position: relative;
}

.on_appointment {
    display: none;
}

.interview_purpose {
    width: 400px;
    background-color: $mainColor;
    position: absolute;
    top: 135px;
    right: 0;
    display: none;
}

.maintenance_credit {
    display: none;
}

.maintenance_credit_table {
    overflow-y: auto;
    max-height: 200px;
}

/*建立新訂單*/
#new_order {
    .new_order_content {
        position: relative;
    }
    .tax_field {
        display: flex;
        align-items: center;
        .tax_check {
            margin-right: 10px;
        }
        label {
            display: contents;
            input {
                width: 70%;
                margin: auto 10px;
            }
        }
    }
    .new_order_blue {
        background-color: $mainColor;
        padding: 5px 30px;
    }
    .order_item {
        overflow-y: auto;
        max-height: 120px;
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    background-color: #fff;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                    border: 0px;
                }
            }
        }
    }
    .table_operate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dollar {
            background-color: $mainColor;
            padding: 5px 30px;
            color: $red;
            margin: auto 5px;
        }
    }
    .new_order_add {
        position: absolute;
        background-color: #c2e9ff;
        bottom: 85px;
        display: none;
        z-index: 1;
        padding: 20px 10px;
    }
    .new_order_table {
        overflow-y: auto;
        max-height: 340px;
        margin-bottom: 20px;
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    position: sticky;
                    top: -1px;
                    z-index: 1;
                    background-color: #fff;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                    border: 0px;
                }
            }
        }
    }
}

/*查看客戶訂單*/
#view_order {
    .form-check-input {
        margin-top: 0px;
    }
    .search_input {
        width: 85%;
    }
    .title {
        font-size: 22px;
        span {
            color: $primary;
            margin-left: 10px;
        }
    }
    .new_order_blue {
        background-color: $mainColor;
        padding: 5px 30px;
    }
    .order_item {
        overflow-y: auto;
        max-height: 120px;
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    background-color: #fff;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                    border: 0px;
                }
            }
        }
    }
    .table_operate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dollar {
            background-color: $mainColor;
            padding: 5px 30px;
            color: $red;
            margin: auto 5px;
        }
    }
    .new_order_add02 {
        position: absolute;
        background-color: #c2e9ff;
        bottom: 85px;
        display: none;
        z-index: 1;
        padding: 20px 10px;
    }
    .new_order_table {
        overflow-y: auto;
        max-height: 340px;
        margin-bottom: 20px;
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    position: sticky;
                    top: -1px;
                    z-index: 1;
                    background-color: #fff;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                    border: 0px;
                }
            }
        }
    }
    .order_detail {
        overflow-y: auto;
        max-height: 400px;
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    background-color: #fff;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                    border: 0px;
                }
            }
        }
    }
}

/*jinding*/

.maintenance_credit {
    .num_field {
        width: 60%;
        margin: 0px 10px;
    }
}
.jinding_remark {
    width: 87%;
    margin-left: 10px;
}
.jinding {
    .all_order,
    .client_name {
        overflow-y: auto;
        max-height: 200px;
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    position: sticky;
                    top: 0px;
                    z-index: 1;
                    background-color: #fff;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                    border: 0px;
                }
            }
        }
    }
    .red {
        color: $red;
    }
    .order_information {
        background-color: $mainColor;
        padding: 4px 10px;
        margin: auto 15px;
    }
    .order_product {
        overflow-y: auto;
        max-height: 300px;
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    position: sticky;
                    top: 0px;
                    z-index: 1;
                    background-color: #fff;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                    border: 0px;
                }
            }
        }
    }
    .quantity_input {
        width: 72%;
    }
    .print_select {
        width: 15%;
    }
    .total {
        overflow-y: auto;
        max-height: 580px;
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    position: sticky;
                    top: 0px;
                    z-index: 1;
                    background-color: #fff;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                    border: 0px;
                }
            }
        }
    }
    .total_client,
    .total_order {
        overflow-y: auto;
        max-height: 260px;
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    position: sticky;
                    top: 0px;
                    z-index: 1;
                    background-color: #fff;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 1);
                    border: 0px;
                }
            }
        }
    }
}

/*math*/
.math {
    .order_information {
        background-color: $mainColor;
        padding: 4px 10px;
        margin: auto 15px;
    }
    .quantity_input {
        width: 72%;
    }
    .print_select {
        width: 15%;
    }
}

/*商品購買資訊*/
.software_information {
    display: none;
}
